/* Sass with BEM :) 
* http://sass-lang.com
* http://getbem.com
*/

@import "normalize";
@import "base";

#banner-mask{
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 99;
}

.bgheader{
    background: url('../img/bg-header.png') center center no-repeat;
    height: 80px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.bgfooter{
    background: url('../img/bg-footer.png') center center no-repeat;
    height: 110px;
    width: 100%;
}
.container{
    margin: 0 auto;
    position: relative;
    top: 60px;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
}
.banner{
    box-sizing: border-box;
    height: 660px;
    margin: 0 auto;
    padding: 1px;
    position: relative;
    top: -1px;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
    &__arrow{
        box-shadow: 4px 4px 10px #cccccc; // para melhorar a leitura no fundo branco
        display: none;
        float: left;
        height: 66px;
        opacity: 0.7;
        position: absolute;
        top: 275px;
        width: 50px;
        z-index: 9;
        &--left{
            background: url('../img/arrow-left.png') center center no-repeat;
            left: 130px;
        }
        &--right{
            background: url('../img/arrow-right.png') center center no-repeat;
            right: 130px;
        }
        &:hover{
            box-shadow: 4px 4px 10px #eeeeee;
            opacity: 1;
        }
    }
}
.banner-item{
    display: none;
    opacity: 0;
    position: relative;
    text-align: center;
    width: 100%;
    &--is-show{
        display: block;
    }
    &__baloon{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &--1{
            left: 580px;
            top: 25px;
        }
        &--2{
            left: 330px;
            top: 25px;
        }
        &--3{
            left: 430px;
            top: 25px;
        }
        &--4{
            left: 390px;
            top: 40px;
        }
        &--5{
            left: 380px;
            top: 35px;
        }
    }
    &__image{
        position: relative;
        z-index: 4;
    }
}
.menu{
    display: none;
    float: right;
    position: absolute;
    top: 16px;
    right: 180px;
    width: 613px;
    z-index: 3;
    &__link{
        background-color: $menu-bg;
        border-left: 1px solid $menu-border;
        color: $menu-link;
        display: inline-block;
        float: left;
        font-family: 'Calibri';
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        padding: 0 38px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &--radiusleft{
            border: 0;
            border-radius: 20px 0 0 20px;
        }
        &--radiusright{
            border: 0;
            border-left: 1px solid $menu-border;
            border-radius: 0 20px 20px 0;
        }
    }
}
.thumbs{
    display: none;
    height: 150px;
    position: absolute;
    text-align: center;
    top: 488px;
    width: 100%;
    z-index: 12;
    li{
        display: inline-block;
        float: none;
    }
}
.thumbs-square{
    &__item{
        text-align: center;
        &--is-active, &:hover{
            opacity: 1;
        }
    }
    &__text{
        color: $thumb-text;
        font-family: 'Calibri-Bold';
        line-height: 30px;
        margin: 0;
        padding: 0;
        position: absolute;
        text-transform: uppercase;
        width: 185px;
        z-index: 2;
    }
}

@media (min-width: $breakpoint-phone){
    .banner-item__image{
        width: 100%;
    }
}
@media (min-width: $breakpoint-tablet){
    .banner-item__image{
        width: $breakpoint-tablet;
    }
}
@media (min-width: $breakpoint-medium){
    #banner-mask{
        display: none;
    }
    .bgheader{
        height: 260px;
    }
    .container{
        background: url('../img/bg-container.png') center center no-repeat;
        top: -1px;
        width: $breakpoint-medium;
    }
    .menu{
        display: block;
    }
    .banner__arrow{
        display: block;
    }
    .banner-item{
        text-align: initial;
        &__image{
            position: absolute;
            width: initial;
            &--1{
                left: 0;
                top: 105px;
            }
            &--2{
                left: 90px;
                top: 150px;
            }
            &--3{
                left: 210px;
                top: 120px;
            }
            &--4{
                left: 220px;
                top: 120px;
            }
            &--5{
                left: 240px;
                top: 140px;
            }
        }
        &__baloon{
            display: block;
        }
    }
    .banner-text{
        position: absolute;
        text-transform: uppercase;
        z-index: 2;
        &__h1{
            color: $banner-h;
            font-family: 'HelveticaNeue-Thin';
            font-size: 60px;
            font-weight: 100;
        }
        &__h2{
            color: $banner-h;
            float: right;
            font-family: 'HelveticaNeue-Lite';
            font-size: 22px;
            font-weight: 300;
            &--1{
                float: left;
            }
        }
        &__p{
            clear: both;
            color: $banner-p;
            float: right;
            font-family: 'HelveticaNeue';
            font-size: 13px;
            font-weight: 400;
            padding: 10px;
            text-align: center;
            width: 80%;
            &--2{
                width: 310px;
            }
            &--3, &--4{
                width: 300px;
            }
            &--5{
                width: 320px;
            }
        }
        &__strong{
            font-family: 'HelveticaNeue-Bold';
            font-weight: 700;
        }
        &--1{
            left: 650px;
            top: 110px;
            width: 370px;
        }
        &--2{
            left: 430px;
            top: 110px;
            width: 570px;
        }
        &--3{
            left: 500px;
            top: 120px;
            width: 490px;
        }
        &--4{
            left: 490px;
            top: 120px;
            width: 490px;
        }
        &--5{
            left: 420px;
            top: 115px;
            width: 600px;
        }
    }
    .thumbs{
        display: block;   
    }   
}
@media (min-width: $breakpoint-large){
    .container{
        width: $breakpoint-large;
    }
}